<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/04caaf85-8526-4c6d-ba47-a3a81c17dad7/resourcegroups/UniqueApi20230407162149ResourceGroup/providers/Microsoft.Web/sites/UniqueApi</ResourceId>
    <ResourceGroup>UniqueApi20230407162149ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/04caaf85-8526-4c6d-ba47-a3a81c17dad7/resourceGroups/UniqueApi20230407162149ResourceGroup/providers/Microsoft.ApiManagement/service/UniqueApi/apis/UniqueApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://uniqueapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>f9cf873d-6e31-4b6a-9844-e0f85a439fdd</ProjectGuid>
    <MSDeployServiceURL>uniqueapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>UniqueApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$UniqueApi</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>